# Dependencies
node_modules
.next
out
build
.turbo
.pnpm-store

# Environment files
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Git
.git
.gitignore
.github

# OS files
.DS_Store
Thumbs.db

# Misc
README.md
LICENSE
.vscode
.npmrc
.idea
.history

# Caches and tests
.cache
.eslintcache
coverage
.nyc_output

# Temp files
tmp
temp
*.tmp
*.swp

*.env

